/* Header and footer css to use accross all docs */
html,

body{
    font-weight:500;      
}


.main-style {
    background: url(https://cdn.pixabay.com/photo/2016/02/19/07/33/flag-1208853_960_720.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.celtic {
    background: url(https://img.freepik.com/free-vector/hand-drawn-celtic-frame-design_23-2149666706.jpg?t=st=1732975150~exp=1732978750~hmac=ff85e01b3737f6d379acce88b5d2a0dba7069b1a895190aab7dccaf24902a204&w=740) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.famine {
    background: url(https://images.unsplash.com/photo-1598092655914-44f06584e31a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.easter-rising {
    background: url(https://images.pexels.com/photos/1650882/pexels-photo-1650882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.monuments{
    background: url(https://images.pexels.com/photos/140021/pexels-photo-140021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}



.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}


.menu-btn:hover {
    color: var(--bs-secondary) !important;
}

.menu-link {
    position: relative;
}

.menu-link:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    border-radius: 5px;
    background-color: #9EC5FE;
    animation: slide 0.5s forwards;
}

.page-nav{
    text-align: center;
}

.page-nav li {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically center align the items */
    margin-bottom: 10px; /* Adds space between the list items */
    margin-right: 300px;
    font-size: 40px;
}

.page-nav img {
    width: 500px;  /* Adjust image size */
    height: 500px; /* Adjust image size */
    margin-right: 300px;
}

.page-nav a{
    margin-right: 500px;
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    border-radius: 10%;
}



.image-caption{
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    background-size: 500px 1100px;
    background-repeat: no-repeat;
}

figcaption{
    max-width: 500px;
    font-size: 22px;
    max-height: max-content;
    font-weight: bold;
}


figure img{
    width: 500px;
    height: 500px;
    margin-right: 50px;
}


.page-nav p{
    margin-right: 500px;
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    font-size: 24.5px;
    font-weight: 600;
    width: 500px;
    height: 470px;
    size-adjust: auto;
}





nav li{
    margin-top: 150px;
    margin-bottom: 150px;
}

h2{
    text-align: center;

}



.imageflex{
    display: flex;
    margin-left: 12%;
    margin-right: 50%;
}

.image-flex p{
    margin-top: 10%;
}

.imageflex1{
    display: flex;
    margin-left: 27%;
    margin-right: 40%;
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10%;  
    width: 800px;
    align-items: center;
}


.imageflex1 p{
    margin-left: 10%;
    margin-right: 10%;
}

.imageflex1 img{
    align-items: center;
     
}


.imageflex2{
    display: flex;
    margin-left: 27%;
    margin-right: 40%;
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;  
    width: 900px;
    align-items: center;
    height: 500px;
    text-align: auto;
}

.imageflex2 img{
    width: 500px;
    height: 300px;
    display: flex;
}

.imageflex2 p{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    text-size-adjust: auto;
    text-align: auto;
    height: 400px;
    font-size: 21px;
}

.imageflex3 {
    display: flex;
    margin-left: 27%;
    margin-right: 40%;
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10%;  
    width: 900px;
    align-items: center;
    height: 600px;
    text-align: auto;
}

div.imageflex3 > p{
    font-size: 21px;
    margin-bottom: 150px;
}

.imageflex3 img{
    width: 500px;
    height: 300px;
    display: flex;
}

.imageflex3 p{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    text-size-adjust: auto;
    text-align: auto;
    height: 400px;
    font-size: 21px;
}



.center {
    display: block;
    margin-left: -290px;
    margin-right: 0px;
    width: 50%;
  }
.page-nav img {
    width: 500px;  /* Adjust image size */
    height: 500px; /* Adjust image size */
    margin-right: 300px;
}




.imageflexcontent{
    margin-left: 30%;
    margin-top: 0px;
    margin-right: 70%;
    overflow-y: hidden;
}

.imageflex1 img{
    align-items: center;
     
}





.header-content1{
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    text-align: center;
    margin-right:40%;
    margin-left:40%;
    font-size:25px;
    border-radius: 10%;
    font-weight:500;

}

.header-content3{
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    text-align: center;
    margin-right:40%;
    margin-left:40%;
    font-size:25px;
    border-radius: 10%;
    font-weight:500;
    margin-top: 5%;
    margin-bottom: 5%;
}

.header-content{
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    text-align: center;
    margin-right:20%;
    margin-left:20%;
    font-size:25px;
    border-radius: 10%;
    font-weight:500;
}

.header-content2{
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    text-align: center;
    margin-right:40%;
    margin-left:40%;
    font-size:25px;
    border-radius: 10%;
    font-weight:500;
    margin-top: 10%;

}

.flex-parent {
    display: flex;
    margin-left: 1%;
  }

.flex-child {
    flex: 1;
    margin-right: 10%;
  }

.navbar-brand{
    text-align: center;
    font-size: 50px;
}

.page-header1 {  
    margin-top: 10%;
    text-align: center;
}

.page-header4{
    text-align: center;
    margin-top: 5%;

}

.page-header {
    margin-top: 4%;
    margin-bottom: 8%;



}

.pageheader3{
    margin-top: 100px;
    text-align: center;
    font-size: 45px;
}

.header-content1{
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3Df);
    text-align: center;
    margin-right:40%;
    margin-left:40%;
    font-size:20px;
    border-radius: 10%;
    font-weight:500;
}

.header-content4{
    background: url(https://images.unsplash.com/photo-1706271952285-01b5e3fc2d78?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhcGVyJTIwdGV4dHVyZXxlbnwwfHwwfHx8Mg%3D%3D);
    text-align: center;
    margin-right:40%;
    margin-left:40%;
    font-size:20px;
    border-radius: 10%;
    font-weight:700;
    text-decoration-color: #fff;
    margin-bottom: 80px;
    margin-top: 80px;
}

.header-content4 p{
    font-size: 32px;
}

.heading1{
    font-weight: bold;
    text-decoration: underline;
} 



h1{
    text-align: center;
    margin-top: 70px;
}

.header-content p{
    margin-top:13%;
}

.page-header h1{
    font-size: 80px;
}



@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 100%;
        left: 0;
    }
}

.footer-logo {
    width: 2rem;
}

.credits {
    list-style-type: disc !important;
}

@media screen and (max-width: 1250px) {
    footer {
        flex-direction: column;
    }
}